:root {
    --main-color: rgb(48, 48, 94);
}

.main-container{
    margin: 20px;
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.by-author{
    
}